#educacion {
  text-align: center;
  padding-top: 4rem;
}

#educacion h1 {
  color: #00adb5;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 1rem;
}

.educ {
  color: white;
  margin-bottom: 2rem;
}

.educ img {
  width: 100%;
}

@media (max-width: 768px) {
  .educ p {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .educ {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
  }
  .educ img {
    width: 50%;
  }
  .educ p {
    font-size: 2rem;
  }
}
