.tituloHome {
  color: white;
  padding-top: 5rem;
}

.tituloHome span {
  color: #00adb5;
}

.fotoPerfil {
  width: 100%;
  border-radius: 50%;
  margin-top: 1rem;
  box-shadow: 0rem 0rem 1rem #00adb5;
}

@media (min-width: 768px) {
  #home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
  }
  .fotoPerfil {
    width: 40%;
  }
  .tituloHome {
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .fotoPerfil {
    width: 45%;
  }
  .tituloHome {
    font-size: 2.5rem;
  }
}
