.tituloHome {
  color: black;
  padding-top: 5rem;
}

.tituloHome span {
  color: #8cc0de;
}

.fotoPerfil {
  width: 100%;
  border-radius: 50%;
  margin-top: 1rem;
  box-shadow: 0rem 0rem 1rem #8cc0de;
}
